

#price {
    width: 100px; /* Reduced width */
    height: 40px; /* Reduced height */
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px; /* Reduced font size */
    font-weight: bold;
    align-self: center;
    margin-left: 50px;
    transform: translateX(77px);
    margin-top: 10px;
    margin-bottom: 10px;
}
